@font-face {
  src: url(/font/gothamhtf-bold-webfont.ttf);
  font-family: "GothamhBold";
}
@font-face {
  src: url(/font/gothamhtf-book-webfont.ttf);
  font-family: "GothamhBook";
}

.gothamBold {
  font-family: "GothamBold", sans-serif;
  font-weight: 600;
}
.gothamBook {
  font-family: "GothamBook", sans-serif;
}
/* Grid */
.grid {
  width: 100%;
  display: block;
  padding: 0;
}
.grid.wide {
  max-width: 1440px;
  margin: 0 auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.c-0 {
  display: none;
}
.c-1 {
  flex: 0 0 100%;
  max-width: 100%;
}
.c-2 {
  flex: 0 0 50%;
  max-width: 50%;
}

.c-5 {
  flex: 0 0 20%;
  max-width: 20%;
}
@media (min-width: 1113px) {
  .l-0 {
    display: none;
  }
  .l-1,
  .l-2,
  .l-5 {
    display: block;
  }

  .l-1 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .l-2 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .l-5 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
@media (min-width: 1024px) and (max-width: 1239px) {
  .l-0 {
    display: none;
  }
  .l-1,
  .l-2,
  .l-5 {
    display: block;
  }

  .l-1 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .l-2 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .l-5 {
    flex: 0 0 20%;
    max-width: 20%;
  }
}
